.main-box{padding: 20px 10px;}
.inner{width: 610px;}

.record-btn{
    color: #7987A3;
    background: #fff;
    border: 1px solid #7987A3;
    font-size: 12px;
    border-radius: 5px;
    padding: 0 5px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    transition: .4s;
    display: inline-block;
    margin-left: 15px;
}
.record-btn:hover{
    color:#5E6980;
    background:#F0F1F5;
    border:1px solid #5E6980;
    box-shadow: 0 0 15px #E3E3E6 inset;
}