*{margin:0;padding:0;box-sizing:border-box;-webkit-box-sizing:border-box;}
body,html{font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;font-size:14px;color:#666;}
body{overflow:scroll;overflow-x:hidden; }
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
fieldset,img{border:0;}
ol,ul{list-style:none;}
i{font-style:normal;}
input,select,textarea{font-family:inherit;font-size:inherit;font-weight:inherit;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;}
address,cite,code,dfn,em,strong,var{font-style:normal;font-weight:400;}
q:after,q:before{content:'';}
abbr,acronym{border:0;font-variant:normal;}
iframe{display:block;}
a{text-decoration:none;cursor:pointer;color: inherit;color:#666;}
.clear:after ,.clearfix:after{content:'\20';display:block; height:0;line-height:0;font-size:0;clear:both;visibility:hidden;}
.clear,.clearfix{*zoom:1;}
.left{float:left;}
.right{float:right;}

.layui-table-view{width: fit-content;}
#date,#create,#planeFinish,#di-date{cursor: pointer;}
.layui-table-hover:hover{cursor: pointer!important;}
.layui-layer-btn .layui-layer-btn0{
    background-color: #009688!important;
    border-color:#009688!important;
    color: #fff!important;
}
.layui-form-select dl dd.layui-this{
    background-color: #009688!important;
    color: #fff!important;
}
.layui-layer-setwin a{
    position: absolute!important;
    top: -40px;
    right: -40px;
    background: url('../../src/close-icon.png') no-repeat;
    background-position: 0 0!important;
    width: 20px!important;
    height: 20px!important;
    transition: .4s;
}
.layui-layer-setwin a:hover{
    transform:rotateZ(-180deg);
    -webkit-transform:rotateZ(-180deg);
    -moz-transform:rotateZ(-180deg);
    -ms-transform:rotateZ(-180deg);
    -o-transform:rotateZ(-180deg);
}